@import 'polices/professional-business.css';
@import 'variables';
@import 'boilerplate';
@import 'interface';
@import 'nav';
@import 'app';

.flap {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto .7em;
	gap: .25em;
}

section {
	font-size: 9pt;
	line-height: 1;
	display: grid;
	border: 1px solid #999;
	border-radius: .25em;
	overflow: hidden;
	grid-template-rows: min-content 1fr;

	h1 {
		font-size: .8em;
		padding: .1em .25em .2em;
		background-color: #999;
		color: #fff;
	}
}

.raccourcis {
	display: grid;

	> * {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 .25em;
		gap: .5em;
		line-height: .9;

		&:nth-child(even) {
			background-color: hsl(0, 0%, 90%);
		}

	}

	.touche {
		font-weight: smaller;

		samp {
			font-weight: bold;
			// font-family: cursive;
		}
	}

	.touche > *:not(:first-child, span)::before {
		content: "+";
		display: none;
	}

	.groupe {
		display: flex;
		gap: .5em;
		grid-column: 2;
		order: 1;
		align-items: end;
		// > *:not(:first-child)::before {
		// 	content : "ou";
		// 	margin-right: .5em;
		// }
	}

	.chord,
	.touche {
		display: flex;
		align-items: center;

		& + .touche::before {
			content: "…";
		}
	}

	span {
		grid-column: 1;
		order: 0;
	}

	.liste {
		display: flex;
		flex-direction: column;
		align-items: end;
	}
}

.general {
	grid-column: 1;
	grid-row: 1 / span 2;
}

.vscode {
	grid-column: 3;
	grid-row: 1 / span 3;
}

.legende {
	grid-column: 1 / 3;
	display: flex;
	align-items: end;
	border: none;
	gap: 1em;
	justify-self: center;
	

	div {
		display: flex;
		gap: .25em;
		align-items: center;
	}
}

.fureteur {
	grid-column: 2;
	grid-row: 1;
}

kbd {
	display: flex;
	font-size: .8em;

	&::after {
		content: "";
		background-size: 100% 100%;
		width: 1em;
		height: 1em;
	}

	&.META::after {
		background-image: url('../img/touches.svg#windows');
	}

	&.SHIFT::after {
		background-image: url('../img/touches.svg#shift');
	}

	&.CTRL::after {
		background-image: url('../img/touches.svg#ctrl');
	}

	&.CMD::after {
		background-image: url('../img/touches.svg#cmd');
	}

	&.ALT::after {
		background-image: url('../img/touches.svg#alt');
	}
}